fastapi[all]
gunicorn
pysummarization==1.1.9
vaderSentiment==3.3.2
pyquery==1.4.3
translate
autocorrect
SpeechRecognition
opencv-python-headless==4.2.0.32
pytesseract==0.3.7
numpy==1.19.3
pillow
gunicorn
pyresparser
pocketsphinx
pydub
wordcloud
chatterbot
chatterbot-corpus==1.2.0
pytz==2022.1