fastapi==0.79.0
uvicorn
python-multipart
h11
gunicorn
translate
pysummarizer
pyquery
wordcloud
gensim==3.8.1
gunicorn
nltk
vadersentiment
autocorrect
SpeechRecognition
opencv-python-headless==4.2.0.32
pytesseract==0.3.7
numpy==1.19.3
pillow
gunicorn
pyresparser==1.0.6
pocketsphinx
pydub
wordcloud
chatterbot-corpus==1.2.0
pytz==2022.1
better_profanity
langdetect
gTTs
